.loginContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 8vh;
}

.loginWrapper {
  padding: 24px;
  border: 1px solid darkgray;
  border-radius: 8px;
  max-width: 350px;
}

.heading {
  margin-bottom: 24px;
  text-align: center;
}

.username {
  padding: 4px;
  border: 2px solid darkgray;
  border-radius: 4px;
  width: 100%;
}

.btnSubmitWrapper {
  text-align: right;
}

.btnSubmit {
  margin: 16px 0px 16px;
}

.initSetup {
  border-top: 1px solid darkgray;
  padding-top: 24px;
}
