@import "~antd/dist/antd.css";

:root {
  --theme-color: #5513c1;
  --theme-color-success: #07cd07;
  --theme-color-error: #f72a0a;
  --theme-color-rgb: rgb(112, 76, 182);
  --theme-color-dark: #2b0688;
  --theme-color-dark-hover-rgba: rgba(43, 6, 136, 0.6);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
