.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background: var(--theme-color);
  color: #ffffff;
}

.navbarWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15%;
}

.logo {
  margin: 0px;
  color: #ffffff;
  pointer-events: none;
  font-size: 36px;
  font-weight: bold;
}

.navLinks {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.link {
  margin: 0px 0px 0px 60px;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}

.linkButton {
  background: var(--theme-color-dark);
  padding: 12px 24px;
  border-radius: 8px;
}

.linkButton:hover {
  background: var(--theme-color-dark-hover-rgba);
}
